CMakeCache.txt
CMakeFiles
CMakeTmp
Makefile
*.cmake
*.moc
*.swp
doc/index.cache.bz2
doc/index.html
doc/kbruch.1
install_manifest.txt
src/kbruch
src/kbruch.shell
src/kbruch_automoc.cpp
src/kbruch_automoc.cpp.files
src/settingsclass.cpp
src/settingsclass.h
src/ui_taskcolorsbase.h
src/ui_taskfontsbase.h
