# KDE Config File  
[Desktop Entry]
Type=Application
Exec=kbruch -caption "%c" %i %m  
Icon=kbruch.png
MiniIcon=kbruch.png
DocPath=kbruch/index.html
Comment=Practice exercises with fractions
Terminal=0
Name=KBruch
Name[sv]=Kbruch
