# KDE Config File
[Desktop Entry]
Type=Application
Exec=kbruch -caption "%c" %i
Icon=kbruch
X-DocPath=kbruch/index.html
GenericName=Exercise Fractions
GenericName[af]=Oefen Breuke
GenericName[be]=Практыкаванні з дробамі
GenericName[bg]=Упражнения с дроби
GenericName[bn]=ভগ্নাংশের অংক অনুশীলন করুন
GenericName[ca]=Exercita les fraccions
GenericName[cs]=Cvičení se zlomky
GenericName[csb]=Cwiczenczi z kawelków
GenericName[cy]=Ymarfer Ffracsiynnau
GenericName[da]=Øvelsesopgaver med brøker
GenericName[de]=Bruchrechnen üben
GenericName[el]=Εξάσκηση με κλάσματα
GenericName[eo]=Ekzerciĝu en frakcioj
GenericName[es]=Ejercitar fracciones
GenericName[et]=Ülesanded murdudega
GenericName[eu]=Zatiki ariketak
GenericName[fa]=تمرین کسرها
GenericName[fi]=Harjoittele murtolukulaskuja
GenericName[fr]=Exercices pratiques avec des fractions
GenericName[ga]=Cleachtadh le Codáin
GenericName[gl]=Exercicios con fraccións
GenericName[gu]=અપૂર્ણાંકોની કસરત કરો
GenericName[he]=תרגילי בשברים
GenericName[hi]=भिन्न संख्याओं का अभ्यास
GenericName[hr]=Vježbajte s razlomcima
GenericName[hu]=Törtszámítás-gyakorló
GenericName[is]=Tugabrotaæfingar
GenericName[it]=Esercizi con le frazioni
GenericName[ja]=分数の練習
GenericName[ka]=ვარჯიში წილადებთან
GenericName[km]=លំហាត់​ប្រភាគ
GenericName[ko]=분수 연습
GenericName[lt]=Treniruokitės trupmenas
GenericName[lv]=Praktiskie uzdevumi ar daļām
GenericName[mk]=Вежбајте дропки
GenericName[ml]=ഭിന്നകങ്ങള്‍ അഭ്യസിക്കുക
GenericName[nb]=Brøk-øvelser
GenericName[nds]=Brookreken öven
GenericName[ne]=अभ्यास खण्ड
GenericName[nl]=Breuken oefenen
GenericName[nn]=Brøkøvingar
GenericName[pa]=ਭਿੰਨ ਅਭਿਆਸ
GenericName[pl]=Ćwiczenia z ułamków
GenericName[pt]=Exercícios com Fracções
GenericName[pt_BR]=Exercitar frações
GenericName[ru]=Упражнения с дробями
GenericName[sk]=Cvičenie zlomkov
GenericName[sl]=Vaje z ulomki
GenericName[sv]=Övningar med bråk
GenericName[ta]=பின்னங்களில் பயிற்சிகள்
GenericName[tg]=Машқҳо барои ададҳои касрӣ
GenericName[tr]=Kesir Çalışması
GenericName[uk]=Вправи з дробами
GenericName[vi]=Bài tập Phân số
GenericName[x-test]=xxExercise Fractionsxx
GenericName[zh_CN]=分数练习
GenericName[zh_TW]=練習分數
Comment=Practice exercises with fractions
Comment[af]=Doen oefeninge met breuke
Comment[be]=Практычныя заняткі з дробамі
Comment[bg]=Практически упражнения с дроби
Comment[bn]=ভগ্নাংশের অংকের অনুশীলনী চর্চা করুন
Comment[ca]=Practica exercicis amb fraccions
Comment[cs]=Praktická cvičení se zlomky
Comment[csb]=Cwiczenczi z kawelkòwaniô
Comment[cy]=Ymarfer ymarferion efo ffracsiynnau
Comment[da]=Øvelsesopgaver med brøker
Comment[de]=Übungen mit Brüchen
Comment[el]=Εξάσκηση με ασκήσεις κλασμάτων
Comment[eo]=Praktiku ekzercojn pri frakcioj
Comment[es]=Práctica de ejercicios con fracciones
Comment[et]=Ülesanded murdudega
Comment[eu]=Entrenatu zatikidun ariketekin
Comment[fa]=انجام تمرین با کسرها
Comment[fi]=Harjoittele murtolukulaskuja
Comment[fr]=Exercices pratiques avec des fractions
Comment[ga]=Ceachtanna le codáin
Comment[gl]=Exercicios práticos con fraccións
Comment[gu]=અપૂર્ણાંકો જોડે કસરત કરો
Comment[he]=התאמנות בתרגילי שברים
Comment[hi]=भिन्न संख्याओं के साथ प्रशिक्षण अभ्यास
Comment[hr]=Vježbajte zadatke s razlomcima
Comment[hu]=Gyakorlási példák törtszámításhoz
Comment[is]=Gera æfingar með tugabrotum
Comment[it]=Esercizi con le frazioni
Comment[ja]=分数の実践練習
Comment[ka]=პრაქტიკული სავარჯიშოები წილადებთან
Comment[km]=លំហាត់​អនុវត្ត​ប្រភាគ
Comment[ko]=분수 연습 문제 풀기
Comment[lv]=Praktiskie uzdevumi ar daļām
Comment[mk]=Вежбајте задачи со дропки
Comment[ml]=ഭിന്നകങ്ങള്‍ ചെയ്ത് അഭ്യസിക്കുക
Comment[ms]=Buat latihan pecahan
Comment[nb]=Treningsøvelser med brøker
Comment[nds]=Brookreken öven
Comment[ne]=खण्डसँग प्रयास अभ्यास
Comment[nl]=Praktische oefeningen met breuken
Comment[nn]=Øvingar i brøkrekning
Comment[pa]=ਭਿੰਨਾਂ ਨਾਲ ਅਭਿਆਸ ਕਰੋ
Comment[pl]=Ćwiczenia z ułamków
Comment[pt]=Faça exercícios com fracções
Comment[pt_BR]=Exercícios práticos com frações
Comment[ru]=Практические упражнения с дробями
Comment[sk]=Cvičenie operácií so zlomkami
Comment[sl]=Vaje računanja z ulomki
Comment[sv]=Övningar med bråk
Comment[ta]=பின்னங்களில் செயல்முறை பயிற்சிகள்
Comment[tg]=Машқҳои таҷрибавӣ барои ададҳои касрӣ
Comment[tr]=Kesirlerle alıştırmalara çalış
Comment[uk]=Практичні вправи з дробами
Comment[vi]=Bài luyện tập tính toán với phân số
Comment[x-test]=xxPractice exercises with fractionsxx
Comment[zh_CN]=练习分数
Comment[zh_TW]=練習計算分數題
Terminal=false
Name=KBruch
Name[bn]=কে-ব্রুচ
Name[hi]=के-ब्रच
Name[ml]=കെ-ബ്രൂച്ച്
Name[ne]=केडीई ब्रुच
Name[nn]=KBrøk
Name[pa]=ਕੇ-ਬੁਰਚ
Name[sv]=Kbruch
Name[ta]=கேபிரயுச்
Name[x-test]=xxKBruchxx
Categories=Qt;KDE;Education;Math;
