<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kbruch" version="1">
<MenuBar>
  <Menu noMerge="0" name="file">
    <text>&amp;Task</text>
    <Action name="NewTask"/>
    <Merge/>
    <Separator/>
    <Action name="file_quit"/>
  </Menu>
</MenuBar>
<ToolBar name="exerciseToolBar" noEdit="true" fullWidth="true">
  <Action name="NewTask"/>
  <Action name="Back"/>  
  <Separator/>
  <Action name="Hint"/>  
  <Separator/>
  <Action name="Arithmatic"/>
  <Action name="Comparision"/>
  <Action name="Conversion"/>
  <Action name="Factorization"/>
  <Action name="Percentage"/>
</ToolBar>
</kpartgui>
